.card-container{
    transform: rotateX(180deg);
    border:1px;
}
.inital-card-state{
    background-color:green;
    width:100%;
    height:100%;
    z-index:100
    
}
.icon{
    width: 100%;
    height: 100%;
    position: absolute;

}